* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.reverse {
    flex-direction: row-reverse;

}

.arrow-to-left {
    clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 10% 100%, 0% 50%, 10% 0%);

}

.arrow-to-right {

    clip-path:polygon(0% 0%,90% 0%,100% 50%,90% 100%,0% 100%,5% 50%);
}

body {
    display: flex;
    justify-content: center;
}

a {
    color:inherit;
    text-decoration: none;
    display: inline-block;
}

.img-wrapper img {
    width: 100%;
}


.main-container {
    max-width: 1920px;
    width: 100%;

}

.container {
    margin:0 auto;
    max-width:1200px;
    width: 100%;
    padding: 0 25px;
}



/* Start: Section Header */

.section-header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
   padding:10px 25px;
   border-bottom: 2px solid rgba(255,255 ,255,0.5);
}

.section-header .logo {
    color:#F99B0F;
    font-size: 40px;
    
}

.section-header nav a {
    padding: 0 25px;
    color:#fff;   
}
/* End: Section Header */

/*Start:Section Main */
.section-main {
    background-color: #000;
    color:#fff
}
.section-main .card-wrapper .card-item {
    display:flex;
    align-items: center;
}
.card-item .text-wrapper,
.card-item .img-wrapper {
    width: 100%;
    max-width: 50%;

}

.card-item .text-wrapper {
    padding: 25px 65px;
}
.card-item .text-wrapper h3 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: normal;

}

.card-item .text-wrapper p {
    margin: 40px 0;

}

.card-item .text-wrapper .btn {
    max-width: 300px;
    padding: 10px;
    width: 100%;
    background-color: #F99B0F;
    font-size: 28px;
    text-align: center;
}
/* End:Section Main*/

/* Start:Section Footer*/
.footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(204, 198, 198);

}

.footer span {
    padding: 20px;
    color:#000;
}
/* End:Section Footer*/

/* Start Section:PersonalTax */
.personaltaxes-page .section-main .card-wrapper .card-item .img-wrapper img {
    max-height: 260px;
    object-fit: cover;
    

}



/* End Section:PersonalTax */
